/* Responsive image idea from Paul Grau on https://codepen.io/graup/pen/EPjNwr */
body, html {
  margin: 0;
}
.responsivecontainer {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.responsivecontainer img {
  display: block;
}
.responsivecontainer #xpbackground {
  width: 100%;
  height: auto;
}

.responsivecontainer #bmo {
  position: absolute;
  top: 35%;
  left: 5%;
  width: 15%;
  height: auto;
  transform: scaleX(-1);
}
/* I will save this for the touch demo I'll make next
.responsivecontainer #creeper {
  position: absolute;
  top: 15%;
  left: 45%;
  width: 65%;
  height: auto;
  transform: scaleX(-1);
}
*/
/*
.responsivecontainer #textmessage {
  position: absolute;
  top: 0%;
  left: 0%;
  color: #fff;
  font-family: sans-serif;
  font-size: 1vh;
}
*/
}
.bmodata {
  float: right;
  margin: 3%;
}

.mouseNumberData {
  float: left;
  margin: 3%;
}
